/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

#svelte {
	@apply h-screen w-screen lg:overflow-hidden;
}
* {
	font-family: "Montserrat";
}
pre {
	font-family: 'Space Mono', monospace;
}

h1,h2,h3,h4,h5,h6 {
	@apply font-bold;
}

button {
	@apply text-gray-800 bg-primary-500 
			px-4 py-2
			lg:px-2 lg:py-1 select-none
			;
}

button:enabled {
	@apply hover:bg-primary-600 active:bg-primary-700 
}